.main-container{
    min-height: 95vh;
    background-color: #001524;
    font-family: 'Poppins', sans-serif;
    color: #FF7D00;
    padding: 3rem 15px 20px 15px;
    margin: 0;  
}
h6{
    color: #FFECD1;
}