<div id="splash">
  <div id="splash-content" class="row d-flex justify-content-center align-items-center" style="max-height: 380px;">
    <div class="title"><img class="welcome" src="assets/images/welcome-logo.png" alt=""></div>
    <div class="person-container"><img class="person" src="assets/gifs/person-running.gif" alt=""></div>
  </div>
</div>
  <div id="main-content" style="display:none;">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>