<!-- Splash Screen -->
<div id="splash">
    <div id="splash-content" class="row d-flex justify-content-center align-items-center" style="max-height: 380px;">
      <div class="title"><img class="welcome" src="assets/images/welcome-logo.png" alt=""></div>
      <!-- <div class="logo">
        <a>
            <img src="assets/images/malupiton.png" alt="Logo" class="image">
        </a>
      </div> -->
      <div class="person-container"><img class="person" src="assets/gifs/person-running.gif" alt=""></div>
      <!-- <div class="spinner-border spinner-item" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> -->
    </div>
  </div>
  
  <!-- Main Application Content -->
  <div id="main-content" style="display:none;">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>